.grid {
  width: 100%;
  .grid-column {
    display: flex;
    div {
      width: 1em;
      height: 1em;
      border: 1px solid #ddd;
      @media (max-width: 600px) {
        width: 0.6em;
        height: 0.6em;
      }
    }
  }
}
