body {
  background-color: $default-color;
  width: 100vw;
  height: 100vh;
  position: relative;
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 2%;
    background-color: #fff;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    @media (max-width: 1200px) {
      width: 80%;
      touch-action: none;
    }
    @media (max-width: 600px) {
      position: relative;
      width: 95%;
      padding-bottom: 5%;
      touch-action: none;
    }
  }
}
